.productContainer{
    width: 177px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    background: #FFFFFF;
    border: 1px solid #ECE3C5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(116, 85, 5, 0.2);
    border-radius: 35px;
    
}



/* input[type="radio"]:checked + label */



.productContainer > img{
    width: 120px;
    height: 86px;
    margin: 0px
}

.productContainer > h1{

left: 767px;
top: 741px;

font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #000000;
}

.productContainer > h2{

left: 557px;
top: 781px;

font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;

color: #000000;
}

.productContainer:hover{    
    color: #FFF;
    background: linear-gradient(212.88deg, #FFC700 13.54%, #FF772B 100%);
    box-shadow: 0px 4px 4px rgba(228, 192, 0, 0.35);
    transition: 6s;
}

