.App {
  text-align: center;
  /* background-color: #ffc107; */
  
  /* background: rgb(150,102,32);
  background: linear-gradient(35deg, rgba(150,102,32,1) 0%, rgba(252,189,0,1) 48%, rgba(238,205,106,1) 100%); */

  /* background: rgb(150,102,32);
  background: linear-gradient(0deg, rgba(150,102,32,1) 0%, rgba(252,189,0,1) 48%, rgba(252,189,0,1) 100%); */

  background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
